/* css for portfolio */

:root {
    --mainText: #f84378;
    --darkViolet: #141027;
}

body {
    background-color: var(--darkViolet);
    margin: 40px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   
}

/* header and nav */
header {
    color: var(--mainText);
    border: var(--mainText) solid 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;   
}

header h1 {
    margin-left: 30px;
}

.nav ul {
    list-style:  none;
    display: flex;
    flex-direction: row;
}

.link {
    margin-right: 40px;
    color: var(--mainText);
    height: 3rem;
    width: 3rem;
    border: 1px solid var(--mainText);
    border-radius: 50%;
}

.link i {
    margin: auto;
}

.link:hover {
    background-image: linear-gradient(to right, #f73f73, #3a1332);
    color: #fff;
}

/* hero */ 

/* flip card content */ 

