/* temp colors */
#grid-headre{
    background-color: gray;
}

#grid-nav {
    background-color: blueviolet;
}

#grid-side-bar {
    background-color: gray;
}

#ex1 {
    background-color: aquamarine;
}

#ex2 {
    background-color: black;
}

#ex3 {
    background-color: gray;
}

#ex4 {
    background-color: blue;
}

#ex5 {
    background-color: cadetblue;
}

#grid-footer {
    background-color: gray;
}

/* temp colors */

/* grid structure */
.grid {
    display: grid;
    height: 100vh;
    grid-template-columns: 0.5fr 1fr 1fr 1fr;
    grid-template-rows: 0.2fr 1.5fr 1.3fr 0.2fr;
    grid-template-areas: 
    "grid-header grid-header grid-nav grid-nav"
    "side-bar ex1 ex1 ex1"
    "side-bar ex2 ex3 ex4"
    "side-bar grid-footer grid-footer grid-footer";

}

.header {
    grid-area: grid-header;
}

.nav { 
    grid-area: grid-nav;
}

.side-bar {
    grid-area: side-bar;
}

#ex1 {
    grid-area: ex1;
}

#ex2 {
    grid-area: ex2;
}

#ex3 {
    grid-area: ex3;
}

#ex4 {
    grid-area: ex4;
}

.footer {
    grid-area: grid-footer;
}

/* grid structure -end */

/* media queries */
@media screen and (max-width: 780px) {
    .grid {
        grid-template-columns: 1fr;
        grid-template-rows: 0.4fr 0.4fr 0.6fr 2fr  1.2fr 1.2fr 1.2fr 0.4fr;
        grid-template-areas: 
        "grid-header"
        "grid-nav"
        "side-bar"
        "ex1"
        "ex2"
        "ex3"
        "ex4"
        "grid-footer";
    }
}