/* css for portfolio */

:root {
    --mainText: #f84378;
    --darkViolet: #141027;
}

body {
    background-color: var(--darkViolet);
    margin: 40px;
   
}

/* header and nav */
header {
    color: var(--mainText);
    border: var(--mainText) solid 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;   
}

header h1 {
    margin-left: 30px;
}

.nav ul {
    list-style:  none;
    display: flex;
    flex-direction: row;
}

.link {
    margin-right: 40px;
    color: var(--mainText);
    height: 3rem;
    width: 3rem;
    border: 1px solid var(--mainText);
    border-radius: 50%;
}

.link i {
    margin: auto;
}

.link:hover {
    background-image: linear-gradient(to right, #f73f73, #3a1332);
    color: #fff;
}

/* hero */ 

/* flip card content */ 

section {
    border: 4px solid var(--mainText);
    height: 100vh;
    display: flex;
    padding: 0 4em;
    margin-right: 40px;
    
}

.container {
    perspective: 1000px;
    border: 1px solid var(--mainText);
    height: 28vh;
    width: 93%;
    cursor: pointer;
}

.card {
    transform-style: preserve-3d;
    height: 100%;
    width: 100%
}

.front, .back {
    height: 100%;
    width: 100%;
    transform-style: preserve-3d;
    color: var(--darkViolet);
    display: flex ;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: absolute;
    top: 0;
    bottom: 0;
    backface-visibility: hidden;
    
}

.front {
    background: linear-gradient(to right, #f73f73, #3a1332);
}

.icon {
   font-size: 50px;
}

.content {
    transform: translateZ(60px);
}

.content h3 {
    font-size: 22px;
    margin-top: 1em;
    font-weight: 600;
    letter-spacing: 0.04em;
}

.content p {
    font-size: 14px;
    padding: 0 3em;
}

.back {
    background-color: aquamarine;
    transform: rotateX(180deg);
}

.container:hover .card {
    transform: rotateX(180deg);
}